
<div class="container my-5">
  <div class="alert alert-primary alert-dismissible fade show wow fadeInUp" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="container my-3">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active  ">
        <img src="assets/imgs/wow3.jpg" class="w-100 slide0 " alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/imgs/wow.jpg" class=" w-100 slide0" alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/imgs/wow.jpg" class=" w-100 slide0" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container mb-3 mt-5">
  <div class="row ">
    <div class="card m-auto bg-dark card0  wow bounceInLeft " style="width: 25rem;">
      <img src="assets/imgs/p1.jpg" class="card-img-top" alt="...">
      <div class="card-body text-white ">
        <h5 class="card-title">IT-CORES</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a href="#" class="btn btn-outline-info">red more</a>
      </div>
    </div>
    <div class="card m-auto bg-dark card0 wow bounceInRight  " style="width: 25rem;">
      <img src="assets/imgs/p2.jpg" class="card-img-top" alt="...">
      <div class="card-body text-right text-white ">
        <h5 class="card-title">IT-CORES</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a href="#" class="btn btn-outline-info">red more</a>
      </div>
    </div>
  </div>
</div>


