<div class="container-12">
  <nav class="navbar navbar0 navbar-expand-lg navbar-light bg-dark wow fadeInDown ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-lg-6">
      <img src="assets/imgs/123.png" class="img1 h-25 w-25 wow pulse " alt="">
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="about" routerlinkactive="" class="px-lg-5 my-2 rot hvr-underline-from-right ">about</a>
        <a routerLink="Contact" routerlinkactive="" class="px-lg-5 my-2 rot hvr-underline-from-right ">contact</a>
        <a routerLink="home" routerlinkactive="" class="px-lg-5 my-2 rot hvr-underline-from-left ">home</a>
        <a routerLink="view" routerlinkactive="" class="px-lg-5 my-2 rot hvr-underline-from-left ">en | ar</a>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<footer class="mt-5">
  <div class="container-12 text-white ">
    <div class="row bg-dark text-center">
      <div class="col-lg-6 mx-auto">

        <i class="fab fa-accessible-icon text-white" ></i>

        <!--
        <li><a href="">
            hossam
          </a></li>
        <li><a href="">
            hossam
          </a></li>
        <li><a href="">
            hossam
          </a></li>
           -->
      </div>
      <div class="col-lg-6 mx-auto">
        <p class="copyright-text">Copyright &copy; 2020 It-cores
        </p>
      </div>
    </div>
  </div>
</footer>
